html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.25;
}

#wrapper {
  position: relative;
  width: 800px;
  max-height: 400px;
  margin: 100px auto;
  color: #333;
}
.portfolio-thumbnail {
 		background-color: #ccffcc;
 		border-width: 4px;
 		border-style: solid;
 		border-color: #004d00;
 }
.jumbotron {
		color: #004d00;
		text-shadow:1.5px 1.5px 0 #fff,
		-1px -1px 0 #fff,
		1px -1px 0 #fff,
		-1px 1px 0 #fff,
		0px 1px 0 #fff,
		1px 0px 0 #fff,
		0px -1px 0 #fff,
		-1px 0px 0 #fff;
		position: relative;
}
.jumbotron img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .6;
}
.jumbotron p,h2 {
	position: relative;
}
.jumbotron h2 {
	font-size: 32px;
}
.navbar ul {
	float: right;
}
.navbar-header {
	background-color: #ccffcc;
	border-radius: 10px;
}
.navbar-default {
	background-color: #CCFFCC;
	font-family:Trebuchet MS;
	border-radius: 10px;
	background-image: none;
}
.collapsed {
	background-color: #0077C0;
}
.menu {
	color: #EEE1C6;
}
.glyphicon-menu-hamburger {
	color: #EEE1C6;
}
.about_me h2 {
	color:#004d00;
	font-size: 170%;
}
.contact h2 {
	color:#004d00;
} 
.contact ul {
	font-size: 130%;
}
.research h2 {
	color:#004d00;
}
.research h3 {
	font-size: 130%;
}
a:link {
	color: #0077C0;
}
a:visited {
	color: #999966;
}
a:hover {
  color: #004d00;
}
.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus {
  background-color: #004d00;