html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

@font-face{ 
  font-family: 'Ostrich';
  src: url('../fonts/ostrichsans-black-webfont.woff') format('woff');
}
@font-face{ 
  font-family: 'Josefin Sans';
  src: url('../fonts/josefinsans-regular-webfont.woff') format('woff');
}
@font-face{ 
  font-family: 'Josefin Slab';
  src: url('../fonts/josefinslab-bold-webfont.woff') format('woff');
}
@font-face{ 
  font-family: 'Open Sans';
  src: url('../fonts/opensans-regular-webfont.woff') format('woff');
}

h1 { font-family: 'Josefin Slab', Arial, sans-serif; } 
h2 { font-family: 'Josefin Slab', Arial, sans-serif; }
h3 { font-family: 'Open Sans', Arial, sans-serif; }
p { font-family: 'Open Sans', Arial, sans-serif; }
#contactlist { font-family: 'Open Sans', Arial, sans-serif; }

#full-screen-background-image-home {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.6;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.2;
}

#wrapper {
  position: relative;
  width: 800px;
  max-height: 400px;
  margin: 100px auto;
  color: #333;
}
.portfolio-thumbnail {
	background-color: #fff;
	border-width: 4px;
	border-style: solid;
	border-color: #70c197; /*marl blue*/
 }
 .index {
 	background-color: transparent;
 	outline: hidden;
 }

#maps img:hover { 
  outline: 8px solid #e5cea2; /*wheat*/
}

.home h1 {
	color: #fff;
	font-size: 400%;
	text-align: center;
	padding-top: 5%;
	text-shadow: 3px 3px #70c197; /*marl blue*/
}

.header h1 {
	font-size: 300%;
	text-align: left;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 8%;
}
.header a:link {
	color: #70c197; /*marl blue*/
}
.header a:active {
	color: #000;
}
.header a:visited {
	color: #70c197; /*marl blue*/
}
.header a:hover {
	color: #e5cea2; /*wheat*/
	text-decoration: line-through;
}

.btn.outline {
    padding: 12px 22px;
}
.btn-primary {
    background: rgba(255, 255, 255, 0.4);
}
.btn-primary.outline {
    border: 2px solid #fff;
    color: #808080;
    font-family: Josefin Slab;
    text-shadow: 1px 1px #fff;
}
#about.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #ea7f7f; /*ember red*/
    border-color: #ea7f7f; /*ember red*/
    background: #fff; /*white*/
}
#about.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #ea7f7f; /*ember red*/
    color: #ea7f7f; /*ember red*/
    box-shadow: none;
}
#maps.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #f3b07c; /*orange*/
    border-color: #f3b07c; /*orange*/
    background: #fff; /*white*/
}
#maps.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #f3b07c; /*orange*/
    color: #f3b07c; /*orange*/
    box-shadow: none;
}
#research.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #e6e86e; /*yellow*/
    border-color: #e6e86e; /*yellow*/
    background: #fff; /*white*/
}
#research.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #e6e86e; /*yellow*/
    color: #e6e86e; /*yellow*/
    box-shadow: none;
}
#contact.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #70c197; /*marl blue*/
    border-color: #70c197; /*marl blue*/
    background: #fff; /*white*/
}
#contact.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #70c197; /*marl blue*/
    color: #70c197; /*marl blue*/
    box-shadow: none;
}

.navbar ul {
	text-align: center;
}
.navbar-header {
	border-radius: 10px;
}
.navbar-default {
	background-color: #e5cea2; /*wheat*/
	font-family:Josefin Slab;
	border-radius: 10px;
	background-image: none;
}
.nav.navbar-nav li a {
	color: #fff; /*white*/
}
.nav.navbar-nav li a:hover {
	color: #70c197; /*marl blue*/
}
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}
.navbar-nav > li {
    display: inline-block;
    float:none;
}
.collapsed {
	background-color: #e5cea2; /*wheat*/
}
.menu {
	color: #70c197; /*marl blue*/
}
.glyphicon-menu-hamburger {
	color: #70c197; /*marl blue*/
}
.about_me h2 {
	color: #70c197; /*marl blue*/
	font-size: 190%;
}
.resume h2 {
  color: #ea7f7f; /*ember red*/
  font-size: 170%;
}
.contact h2 {
	color: #70c197; /*marl blue*/
	font-size: 190%;
} 
.contact ul {
	font-size: 130%;
}
.maps h2 {
	color: #70c197; /*marl blue*/
	font-size: 190%;
}
.research h2 {
	color: #70c197; /*marl blue*/
	font-size: 190%;
}

.research h3 {
  font-size: 130%;
}

a:link {
	color: #db7b3a; /*orange*/
}
a:visited {
	color: #aa6a9e; /*violet*/
}

.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus {
  background-color: #fff; /*white*/
}