body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}

p {
	font-family: Trebuchet MS;
}

.leaflet-popup-content p {
	margin: 0.2em 0;
}

#borderimg1 { 
    border: 50px solid transparent;
    padding: 100%;
    -webkit-border-image: url(../img/border.png) 50 round; /* Safari 3.1-5 */
    -o-border-image: url(../img/border.png) 50 round; /* Opera 11-12.1 */
    border-image: url(../img/border.png) 50 round;
}

.sequence-control-container, .legend-control-container {
	background-color: rgba(255,255,255,0.8);
	padding: 10px;
	text-align: center;
	border: solid gray 1px;
}

.sequence-control-container {
	width: 350px;
	height: 30px;
	line-height: 45px;
}

.range-slider {
	width: 200px;
}

#forward {
	float: right;
}

#reverse {
	float: left;
}

.legend-control-container {
	width: 200px;	
}

#temporal-legend {
	font-weight: bold;
	font-size: 1.5em;
}

@font-face {
    font-family: Erin;
    src: url(../img/eringobragh/eringobraghe.ttf);
}

@font-face {
    font-family: Stonehenge;
    src: url(../img/stonehen.ttf);
}

@font-face {
    font-family: Dumbeldor;
    src: url(../img/dum1.ttf);
}

@font-face {
    font-family: Northumbria;
    src: url(../img/DK-Northumbria.ttf);
}

#title {
	font-family: Dumbeldor;	
	font-size: 3.25em;
	font-weight: bold;
}

#sidebar-text {
	font-size: 1em;
}

#nation {
	font-family: Erin;
	font-size: 250%;
	text-indent: 30%;
}

#cityNpark {
  font-family: Northumbria;
  font-size: 150%;
  text-indent: 30%;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background: #f2f2f2;
}

#sidebar {
	font-size: 110%;
}

#sidebar, .leaflet-sidebar .close {
	background: #ccffcc;
}

#pan-celtic {
	width: 100%;
}

.leaflet-sidebar.close {
	background: #e6e6e6;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}